:root {
    --white: #ffffff;
    --black: #242124;
    --beige: #FCEDD9;
    --brown: #57221B;
    --brown-light: #916E69;
    --pink: #E0A59D;
    --pink-light: #FFD6D1;
    --yellow: #F2CB57;
    --yellow-light: #EFCA90;
    --green: #4C9A6A;
    --green-light: #b7d277;
    --grey: #393939;
    --grey-light: #767676;
    --gradient-brown: linear-gradient(90deg, var(--brown) 0%, var(--pink) 100%);
    --gradient-brown-light: linear-gradient(90deg, var(--brown-light) 0%, var(--pink-light) 100%);
}

body {
    background-color: var(--beige);
    color: var(--black);
    font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Kalam", cursive;
    font-weight: bold;
}


/* buttons */

.btn-primary {
    border: none;
    background: var(--gradient-brown);
    color: var(--white);
    font-weight: bold;
}

.btn-primary:active,
.btn-primary:hover {
    background: var(--gradient-brown-light);
    color: var(--black);
}

.btn-secondary {
    border: none;
    background-color: var(--grey);
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: var(--grey-light);
}

.btn-danger {
    border: none;
    background-color: var(--brown);
    color: var(--white);
    font-weight: bold;
}

.btn-danger:hover {
    background-color: var(--brown-light);
    color: var(--white);
}